#menu li ul {
  		display:none;
		position:absolute;
	}
	#menu li:hover > ul {
  		display:block;
	}
	#menu ul{
		margin:0;
		padding:0;
		line-height:35px;
	}
	#menu li{
		float:left;
		list-style:none;
		position:relative;
		text-align:center;
		width:250px;
		background-color:cyan;
	}
	
	#menu li ul ul {
		  left:100%;
		  top:0px;
	}
	#menu li li{
		float:none;
		background-color:#007700;
	}
	#menu li li li{
		background-color:#005500;
	}
	#menu li li li li{
		background-color:#003300;	
	}
	#menu li a{
		color:#ffffff;	
		text-decoration:none;
		text-align:center;
		display:block;
	}
	#menu li a:hover{
		background-color:#555;
		text-decoration:none;
		color:#FFFF00;
	}