.lap{
	width:1200px;
	height:700px;

	margin:0px auto;
}
.bukti{
	width:400px;
	height:80px;
	background-color:red;
}
.na{
	background-color:#fff;
	margin:1%;
	padding:1%;
	width:30%;
}
.btnnext{
	width:30%;
	background-color:#0288D1;
	padding:11px 65px 11px 30px;
	border:1px solid #fff;
	border-radius:5px;
	float:right;
	color:#fff;
}
.btnnext:hover{
	background-color:#0277BD;
	color:#000;
}
.btnback{
	width:30%;
	background-color:#D32F2F;
	padding:11px 65px 11px 30px;
	border:1px solid #fff;
	border-radius:5px;
	float:left;
	color:#fff;
}
.btnback:hover{
	background-color:#C62828;
	color:#000;
}
.d{
	padding:20px 10px 0 10px;
	float:right;
}