<link href="lks.css" rel="stylesheet" type="text/css">
<link href="coba.css" rel="stylesheet" type="text/css">
<link href="header-1.css" rel="stylesheet" type="text/css">
<link href="layout.css" rel="stylesheet" type="text/css">



<!--------header---------->
<div class="header" >

<a class="nav" href="#">sign up</a>
<a class="nav1" href="#">register</a>
	
<div id="topmain">
<input class="tsah" type="submit" >
<input class="search" type="search" placeholder="Cari produk......"  >
</div>
</div>
<!-------header----------->


<!------SLIDER------>
<div class="banner">
<div class="ban"> Prisma </div>
<div class="ban1"> shop </div>
<div class="navbar">
<div class="lol"><a class="fo" href="#" > Home</a></div>
<div class="lol1"><a class="fo" href="#" > Electrinik</a></div>
<div class="lol1"><a class="fo" href="#" > Clothes</a></div>
<div class="lol1"><a class="fo" href="#" > About</a></div>

</div>
</div>
<!-- /SLIDER -->

<!-------kategori----->
<div class="konten">

<div class="konten1">
<div class="kkonten">
<div class="konten0">KATEGORI</div>
</div>
<a class="konten2" href="#"> Elektronik </a>
</div>
<!-------kategori----->
<!-------konten----->

<div class="container">

	

</div>
<!--------clothes------>
<div class="judul1">Clothes</div><hr>
<div class="item1">
		<div class="kon1">
			<a href="#">
				<img src="yon.jpg" class="uk1">
			</a>
		</div>
			<a class="nama1" href="#"> jaket Yondaime</a>
		<div class="price1">Rp.500.000 </div>
	<a class="btn1" href="#" align="center" >
		BELI SEKARANG 
	</a>
</div>
<div class="item2">
		<div class="kon1">
			<a href="#">
				<img src="yon.jpg" class="uk1">
			</a>
		</div>
			<a class="nama1" href="#"> jaket Yondaime</a>
		<div class="price1">Rp.500.000 </div>
	<a class="btn1" href="#" align="center" >
		BELI SEKARANG 
	</a>
</div>
<div class="item2">
		<div class="kon1">
			<a href="#">
				<img src="yon.jpg" class="uk1">
			</a>
		</div>
			<a class="nama1" href="#"> jaket Yondaime</a>
		<div class="price1">Rp.500.000 </div>
	<a class="btn1" href="#" align="center" >
		BELI SEKARANG 
	</a>
</div>
<div class="item2">
		<div class="kon1">
			<a href="#">
				<img src="yon.jpg" class="uk1">
			</a>
		</div>
			<a class="nama1" href="#"> jaket Yondaime</a>
		<div class="price1">Rp.500.000 </div>
	<a class="btn1" href="#" align="center" >
		BELI SEKARANG 
	</a>
</div>
<div class="item2">
		<div class="kon1">
			<a href="#">
				<img src="yon.jpg" class="uk1">
			</a>
		</div>
			<a class="nama1" href="#"> jaket Yondaime</a>
		<div class="price1">Rp.500.000 </div>
	<a class="btn1" href="#" align="center" >
		BELI SEKARANG 
	</a>
</div>

<!--------clothes------>
<div class="judul">Elektronik</div><hr>
<div class="item">
		<div class="kon">
			<a href="#">
				<img src="G1.jpg" class="uk">
			</a>
		</div>
		<a class="nama" href="#"> Xbox 1</a>
		<div class="price">Rp.5.000.000 </div>
		<a class="btn" href="#" align="center" >
		BELI SEKARANG 
	</a>
</div>
<div class="item3">
		<div class="kon">
			<a href="#">
				<img src="G1.jpg" class="uk">
			</a>
		</div>
		<a class="nama" href="#"> Xbox 1</a>
		<div class="price">Rp.5.000.000 </div>
		<a class="btn" href="#" align="center" >
		BELI SEKARANG 
	</a>
</div>
<div class="item3">
		<div class="kon">
			<a href="#">
				<img src="G1.jpg" class="uk">
			</a>
		</div>
		<a class="nama" href="#"> Xbox 1</a>
		<div class="price">Rp.5.000.000 </div>
		<a class="btn" href="#" align="center" >
		BELI SEKARANG 
	</a>
</div>
<div class="item3">
		<div class="kon">
			<a href="#">
				<img src="G1.jpg" class="uk">
			</a>
		</div>
		<a class="nama" href="#"> Xbox 1</a>
		<div class="price">Rp.5.000.000 </div>
		<a class="btn" href="#" align="center" >
		BELI SEKARANG 
	</a>
</div>
<div class="item3">
		<div class="kon">
			<a href="#">
				<img src="G1.jpg" class="uk">
			</a>
		</div>
		<a class="nama" href="#"> Xbox 1</a>
		<div class="price">Rp.5.000.000 </div>
		<a class="btn" href="#" align="center" >
		BELI SEKARANG 
	</a>
</div>
</div>
<!-----konten------->
<!------footer---->
<div class="footer1">
<div class="footer"> 
<img class="logo" src="nama.jpg">
<div class="call"> call center </div>
<div class="call"> 0852-1116-7353 </div>
 <div class="slogan">
		<img class="slo" src="logo2.png">
</div>
<div class="nmslo">
	Pesan
</div>
<div class="slogan">
		<img class="slo1" src="logo.png">
</div>
<div class="nmslo1">
		Bayar
	</div>
<div class="slogan">
	<img class="slo2" src="logo1.png">
</div>
<div class="nmslo2">
	Sampai
</div>
<!-----medsos------>
<div class="sosial">
	You can find me in :
</div>
<div class="kt">
	<img class="medsos" src="images/insta.png">
</div>
<div class="kt1">
	<a class="cl" href="#">
		@iben_fad
	</a>
</div>
<div class="kt3">
	<img class="medsos" src="images/fb.png">
</div>
<div class="kt2">
	<a class="cl" href="#">
		ibnu fadilah
	</a>
</div>
<div class="kt3">
	<img class="medsos1" src="images/g+.png">
</div>
<div class="kt2">
	<a class="cl" href="#">
		ibnufadilah097@gmail.com
	</a>
</div>
 </div>
</div>

		
