.header{
	width:20%;
	height:100%;

	position: fixed;
	padding-top:20px;
}
.kt2{
	width:20%;
	height:40%;
	background-color:#fff;
	position: fixed;
	padding-top:20px;
}
.logo{
	width:100%;
	height:120px;
	margin-top:-20px;
	background-color:#546E7A;
}
.log{
	width:190px;
	height:92px;
	margin-left:10px;
	margin-top:5px;
}
.og{
	width:82px;
	height:82px;
	margin-top:-5px;
	margin-left:10px;
}
.nama{
	width:65%;
	height:60px;
	margin-top:25px;
	float:right;

}
.nama{
	color:#000;
	font-size:15px;
	font-family:"verdana";
}
.garis{
	width:100%;
	height:2px;
	background-color:#fff;
	margin-top:5px;
}
.home{
	width:99%;
	height:10%;
	
	text-decoration:none;
	color:white;
}
.home:hover{
	background-color:#59b1ae;
	color:#000;
	text-decoration:none;
}
.link{
	text-decoration:none;
	
}
/*konten*/

.kon{
	width:79%;
	height:100%;
	
	float:right;
	margin-top:10px;
	margin-left
}
.kon1{
	width:79%;
	height:100px;
	background-color:#a0aec1;
	float:right;
	margin-top:10px;
	margin-left:10px;
	z-index:99999;
	
}
.judul{
	color:#fff;
	margin-top:40px;
	margin-left:20px;
}
.tbcover{
	width:96%;
	height:90%;
	float:right;
	margin-right:20px;
	margin-top:20px;

	}
.tb{
	border:1px solid #fff;
	border-style: all;
	
}

table {
  float:left;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  border: #ccc 1px solid;
}
 
table th {
	
  padding: 15px 40px;
  border-left:1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
}
 
table th:first-child{  
  border-left:none;  
}
 
table tr {
  text-align: center;
  padding-left: 20px;
}
 
table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}
 
table td {
  padding:10px 20px 10px 20px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table td a{
	text-decoration:none;
}
 
table tr:last-child td {
  border-bottom: 0;
}
 
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
 
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}
.pesan{
	width:170px;
	height:60px;
	margin-left:30px;
	margin-top:50px;
	padding:20px;
	display:block;
	border:1px solid #fff;

}
.pesan1{
	width:290px;
	height:60px;
	margin-left:40px;
	margin-top:30px;
	margin-bottom:-50px;
	padding:20px;
	display:block;
	border:3px #fff;
	border:1px solid #fff;
	 display:block;
	
}
.isi{
	width:250px;
	height:40px;
	border-radius:3px;
	border:2px solid gray;
	
}
.lm{
	width:1200px;
	height:150px;
}
.btnordr{
	width:250px;
	height:50px;
	background-color:#006495;
	margin-left:60px;
	margin-top:90px;
	border-radius:5px;
}
.btnordr:hover{
	background-color:#0093d1;
}
.lisan{
	color:#fff;
	font-size:20px;
	font-family:"News701 BT";
}

.e{
	width:80%;
	height:50px;
	background-color:blue;
}
.btnadm{
	width:200px;
	height:40px;
	background-color:#627894;
	margin-top:50px;
	margin-left:85px;
	border-radius:4px;
	font-size:20px;
	font-family:"News701 BT";
	color:#fff;
}
.btnadm:hover{
	background-color:#a0aec1;
	font-size:20px;
	font-family:"News701 BT";
	color:#000;
}
.main-nav {
	
	margin-top:10px;
	
	background:#fff;
}

.main-nav a {
	margin:0%;
	font-family:verdana;
	font-size:12px;
	height:25px;
	text-transform:uppercase;
	color:#008be3;
	display: block;
	padding: 10px 0 10px 20px;
	
}
.main-nav2 a:hover {
	color:#000;
	border-radius:5px;
	text-decoration:none;
	background:#CFD8DC;
}
.main-nav2 ul ul {
	display:none;
}

.main-nav2 ul li:hover ul {
display: block;
}

* {
	padding:0;
	margin:0;
}

a {
	text-decoration:none;
}

li {
	list-style:none;
}
.active {
	margin:0.5%;
	margin-top:0%;
	border-radius:5px;
	background-color:#0096ff;
	cursor: pointer;
}

.active a {
	margin:1%;
	font-family:verdana;
	font-size:14px;
	height:20px;
	text-transform:uppercase;
	display: block;
	padding: 10px 0 10px 20px;
	color:#fff;
}
.mainmenubtn {
    background-color:#fff;
    color:#008be3;
    border: none;
    cursor: pointer;
	padding:8px 160px 8px 20px;
	border-radius:5px;
}
.dropdown {
    position: relative;
    display: inline-block;
	margin:0px;
	padding-left:4px;
	border-radius:5px
	
}
.dropdown-child {
    display: none;
    background-color:#fff;
    min-width: 250px;
	font-family:verdana;
	text-transform:uppercase;
	font-size:12px
}
.dropdown-child a {
    color: #008be3;
    padding:10px 0 10px 20px;
    text-decoration: none;
    display: block;
	margin:0%;
	font-family:verdana;
	font-size:12px;
	height:25px;
	text-transform:uppercase;
	color:#008be3;
	display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.dropdown-child:hover {
	background-color:#CFD8DC;
	border-radius:5px
}
.mainmenubtn:hover {
	background-color:#CFD8DC;
	border-radius:5px
}
