.head{
	width:1200px;
	height:60px;
	margin:0px auto;
	background-color:#dbe8f9;
}
.man{
	width:1200px;
	height:900px;
	margin:0px auto;
	background-color:#dbe8f9;
	padding-top:20px;
}
.gam{
	width:230px;
	height:300px;
	margin-left:30px;
	margin-top:-130px;
	padding-left:6px;
	padding-top:5px;
	 border:2px solid #000;
	 display:block;
}
.ukur{
	width:223px;
	height:294px;
}
.tul{
	width:1180px;
	height:400px;
	margin-top:30px;
	margin-left:20px;
}
.tul1{
	width:400px;
	height:50px;
	margin-top:40px;
	margin-left:300px;
}
.tul2{
	width:400px;
	height:50px;
	margin-top:-20px;
	margin-left:300px;
}
.font{
	font-size:28px;
	font-family:"verdana";
}
.font1{
	font-size:20px;
	font-family:"verdana";
}

.order{
	width:200px;
	height:60px;
	background-color:#006495;
	margin-left:30px;
	margin-top:-70px;
	padding-left:40px;
}
.order:hover {
	background-color:#0093d1;
}
.orderfn{
	font-size:30px;
	font-family:"News701 BT";
	color:#000;
	text-decoration:none;
	text-align:center;
}
.orderfn:hover {
	color:#fff;
}