.header {
		background-color:#466289; 
		width:100%; 
		height:80px; 
		text-decoration:none;
		position:fixed;
		z-index:999999;
}
.ha {
	 width:1200px;
	 height:200px;
	 background-color:red;
	 margin:0px auto;
 }
.header2 {
					background-color:white; 
					width:100px; 
					height:30px; 
					
}


.nav1 {
	width:70px;
	height:55px;
	float:right; 
	margin-top:20px;
	margin-right:10px;
	text-align:center;
	text-decoration:none;
	font-size:20px;
	color:#ffffff;
	padding-top:4px;
	
}
.nav1:hover{
	background-color:#ffffff;
}
 .navbar {
	 width:1300px;
	 height:300px;
	 margin-top:199px;
	text-align:center;
	padding-top:-40px;
	z-index:999999;
 }
.nav {
	width:80%;
	width:70px;
	height:55px;
	float:right; 
	margin-top:20px;
	
	text-align:center;
	text-decoration:none;
	font-size:20px;
	color:#ffffff;
	padding-top:4px;
	
}
.nav:hover{
	background-color:#ffffff;
}

form {
	width:150px;
	height:30px;
}

.search {
	width:300px;
	height:30px;
	background-color:white;
	float:right; 
	margin-top:20px;
	margin-right:5px;
	border-radius:2px;
}

.tsah {
	width:60px;
	height:30px;
	float:right; 
	border-radius:2px;
	margin-top:20px;
	margin-right:20px;
	
}
.banner {
	background:url("ban.jpg") no-repeat;
	width:1200px;
	height:600px;
	margin:0px auto;
	padding-top:50px;
}

.ban {
	color:white;
	float:right;
	font-family:"forte";
	font-size:90px;
	margin-right:60px;
	
}
.ban1 {
	color:white;
	float:right;
	font-family:"gadugi";
	font-size:60px;
	margin-right:-270px;
	margin-top:100px;
}

.konten {
	width:1200px;
	height:1400px;

	margin:0px auto;
	margin-top:-75px;
}

.konten1 {
	width:250px;
	height:400px;
	background-color:#006495;
	margin-top:-40px;
	
}

.konten0 {
	
	font-size:20px;
	color:#fff;
	font-family:"Goudy Old Style";
	padding-left:80px;
	padding-top:20px;
}
.nt{
	 font-size:19px;
	 text-decoration:none;
	 color:white;
 }
}
.ol{
	width:1000px;
	height:50px;
	background-color:red;
}
.konten2 {
	font-size:20px;
	color:#fff;
	text-decoration:none;
	padding-left:20px;
	padding-top:20px;
	font-family:"News701 BT";
}
.kkonten{
	width:250px;
	height:70px;
	background-color:#0093d1;
}


 .lol{
	 width:120px;
	 height:20px;
	 border-radius:9px;
	 margin-right:1000px;
	 margin-top:30px;
	 margin-bottom:-20px;
	 border:5px solid #fff;
	float:left;
 }
.lol:hover {
	 background-color:#dbe8f9;
 }
 
 .lol1{
	 width:120px;
	 height:40px;
	 border-radius:9px;
	 margin-left:220px;
	 margin-right:-120px;
	 margin-top:30px;
	 border:5px solid #fff;
	float:left;
 }
 .lol1:hover {
	 background-color:#dbe8f9;
	 color:#000;
 }
 .fo{
	 font-size:19px;
	 text-decoration:none;
	 color:white;
 }
 
 /*konten*/
 .container{
	 width:940px;
	 height:390px;
	float:right;
	margin-top:-390px;
	background-color:red;
 }
 
.judul{
	 width:200px;
	 height:30px;
	 font-family:"News701 BT";
	 font-size:30px;
	 margin-left:40px;
	 margin-top:450px
 }

 .item{
	 width:250px;
	 height:350px;
	 float:left;
	 margin-left:40px;
	 margin-top:10px;
	 margin-right:-70px;
	 position:relative;

 }
 .item3{
	 width:250px;
	 height:350px;
	 float:left;
	 margin-left:-30px;
	 margin-top:-10px;
	 position:relative;
 }
 .kon{
	 width:190px;
	 height:240px;
	 margin-top:10px;
	 margin-left:16px;
	 border:1px solid #000000;
	 display:block;
 }
 .uk {
	 width:180px;
	 height:230px;
	 padding-top:5px;
	 padding-left:5px;
 }
.nama {
	letter-spacing:2px;
	 margin-left:20px;
	 width:400px;
	 height:30px;
	 font-size:20px;
	 color:#00;
	 text-decoration:none;
 }
 .price{
	 color:#00;
	 font-size:20px;
	 letter-spacing:2px;
	 margin-left:20px;
	 font-family:"verdana";
	 padding:10px 0px;
	 padding-top:2px;
 }
 .btn{
	width:200px;
	 height:50px;
	margin-left:10px;
	background-color:#0b77ab;
	font-size:15px;
	text-decoration:none;
	color:#000;
	font-family:"News701 BT";
	
 }
 .btn:hover{
	 background-color:#0093d1;
	 text-decoration:none;
	 color:white;
	 font-family:"News701 BT";
 }
 /*clothes*/
.judul1{
	 width:200px;
	 height:30px;
	 font-family:"News701 BT";
	 font-size:30px;
	 margin-left:40px;
	 margin-top:50px;
 }
 .item1{
	 width:250px;
	 height:350px;
	 padding-top:30px;
	position:relative;
	 margin-left:60px;
	 margin-right:-90px;
	 margin-top:10px;
	 float:left;

}
.item2{
	 width:250px;
	 height:350px;
	 padding-top:30px;
	position:relative;
	 margin-left:-30px;
	 margin-right:1px;
	 margin-top:10px;
	 float:left;
}
.kon1{
	 width:190px;
	 height:250px;
	 margin-top:-30px;
	 margin-left:-5px;
	 border:2px solid #000000;
	 display:block;
 }
.uk1 {
	 width:180px;
	 height:240px;
	 padding-top:5px;
	 padding-left:5px;
 }
.nama1{
	letter-spacing:2px;
	 margin-left:5px;
	 width:400px;
	 height:30px;
	 font-size:20px;
	 color:#00;
	 text-decoration:none;
 }
.price1{
	 color:#00;
	 font-size:20px;
	 letter-spacing:2px;
	 margin-left:5px;
	 font-family:"verdana";
	 padding:10px 0px;
	 padding-top:2px;
 }
.btn1{
	 width:200px;
	 height:50px;
	margin-left:-5px;
	background-color:#0b77ab;
	font-size:15px;
	text-decoration:none;
		
	color:#000;
	font-family:"News701 BT";
 }
.btn1:hover{
	 background-color:#0093d1;
	 text-decoration:none;
	 color:white;
	 font-family:"News701 BT";
 }
 /*konten*/
 /*bawah*/
 .footer {
	 width:1200px;
	 height:400px;
	 background-color:#006495;
	 margin:0px auto;
 }
 .footer1 {
	 width:100%;
	 height:400px;
	 background-color:#006495;
	 margin:0px auto;
 }
 .logo{
	 width:272px;
	 height:96px;
	 margin:40px;
 }
 .call{
	 width:200px;
	 height:50px;
	 background-color:#006495;
	 margin-left:75px;
	 text-align:center;
	 font-family:"Monotype Corsiva";
	 font-size:30px;
	 color:#fff;
 }
 .slogan{
	 width:100px;
	 height:100px;
	 float:right;
	 margin-top:-240px;
	 margin-right:750px;
 }
 .slo{
	 width:400px;
	 height:200px;
	  margin-top:-60px;
	  margin-left:-160px;
 }
 .nmslo{
	 width:200px;
	 height:50px;
	 float:right;
	 margin-top:-230px;
	 margin-right:630px;
 }
.nmslo{
	font-family:"Lucida Bright";
	font-size:30px;
	color:white;
	text-align:center;
}
.slo1{
	 width:400px;
	 height:200px;
	margin-top:-62px;
	margin-left:20px;
	 
}
.nmslo1{
	 width:200px;
	 height:50px;
	 float:right;
	 margin-top:-230px;
	 margin-right:445px;
 }
.nmslo1{
	font-family:"Lucida Bright";
	font-size:30px;
	color:white;
	text-align:center;
}
.slo2{
	 width:400px;
	 height:200px;
	margin-top:-58px;
	margin-left:200px;
	 
}
.nmslo2{
	 width:200px;
	 height:50px;
	 float:right;
	 margin-top:-230px;
	 margin-right:250px;
 }
.nmslo2{
	font-family:"Lucida Bright";
	font-size:30px;
	color:white;
	text-align:center;
}
.sosial{
	width:400px;
	height:90px;
	float:right;
	margin-right:450px;
	margin-top:-100px;
	font-family:"News701 BT";
	color:white;
	font-size:25px;
	
}
.medsos{
	width:42px;
	height:42px;
}
.medsos1{
	width:42px;
	height:42px;
	margin-top:2px;
}
.kt{
	width:50px;
	height:50px;
	float:right;
	margin-right:790px;
	margin-top:-60px;

}
.kt1{
	width:100px;
	height:50px;
	float:right;
	margin-right:690px;
	margin-top:-57px;

}
.cl{
	font-size:25px;
	text-decoration:none;
	text-align:center;
	margin-top:-30px;
	color:white;
	font-family:"NewsGoth Cn BT";
}
.kt2{
	width:100px;
	height:50px;
	float:right;
	margin-right:689px;
	margin-top:-50px;
	
}
.kt3{
	width:100px;
	height:50px;
	float:left;
	margin-left:760px;
	margin-top:-10px;

}
/*bawah*/
/*detail*/
.headerdt{
	width:100%;
	height:80px;
	background-color:#466289;
	padding-top:10px;
}
.lol2{
	 width:120px;
	 height:40px;
	 border-radius:9px;
	 margin-left:200px;
	 margin-right:-110px;
	 margin-top:30px;
	 border:5px solid #fff;
	float:left;
 }
 .lol2:hover {
	 background-color:#dbe8f9;
	 color:#000;
 }
 .detail{
	 width:1300px;
	 height:90px;
	 margin:0px auto;
	 background-color:#006495;
 }
 .detail1{
	 width:100%;
	 height:90px;
	 margin:0px auto;
	 background-color:#006495;
 }
 .navdt{
	 width:70px;
	 height:60px;
	 background-color:white;
	 float:left;
	 margin-left:80px;
	 margin-top:20px;
 }
 .kl{
	 width:400px;
	 height:50px;
	 margin-bottom:-45px;
	 margin-top:5px;
	 margin-right:20px;
	 float:right;
 }
 .navdt1{
	 width:70px;
	 height:60px;
	 background-color:red;
	 float:right;
	 margin-left:80px;
	 margin-right:10px;
	 margin-top:20px;
 }
.pen{
	width:1200px;
	height:800px;
	background-color:red;
	margin:0px auto;
}
.headd{
	width:1200px;
	height:80px;
	margin:0px auto;
	background-color:#466289; 

}
.lg{
	width:100px;
	height:10px;
	
	margin-left:20px;
	
}
