.login{
	width:1200px;
	height:600px;
	
	margin:0px auto;
	padding-top:40px	
}
.frame{
	width:550px;
	height:320px;
	background-color:#dbe8f9;
	margin:0px auto;
	margin-top:80px;
	padding-top:40px;
}

.tap{
	margin-left:20px;
	width:400px;
	height:100px;
	margin-top:30px;
}
.isi1{
	width:500px;
	height:45px;
	border-radius:3px;
	border:2px solid gray;
	margin-top:-10px;
	background-color:#fff;
}
.san{
	font-size:18px;
}
.dul{
	width:200px;
	height:40px;
	
	margin-top:-30px;
	margin-left:20px
}
.btnlgn{
	width:100px;
	height:40px;
	background-color:#006495;
	margin-top:110px;
	margin-left:415px;
}
.btnlgn:hover{
	background-color:#0093d1;
}
.lisan1{
	color:#fff;
	font-size:20px;
	font-family:"News701 BT";
}
.div{
	width:550px;
	height:200px;
	background-color:blue;
	margin:0px auto;
}
.is1{
	width:490px;
	height:30px;
	border-radius:3px;
	border:2px solid #fff;
	margin-left:5px;
	margin-top:8px;
}