.rm{
	width:1200px;
	height:1000px;
	margin:0px auto;
	padding-top:50px;
}
.pesan{
	width:170px;
	height:60px;
	margin-left:30px;
	margin-top:50px;
	padding:20px;
	display:block;
	border:1px solid #fff;

}
.pesan1{
	width:290px;
	height:60px;
	margin-left:40px;
	margin-top:30px;
	padding:20px;
	display:block;
	border:3px #fff;
	border:1px solid #fff;
	 display:block;
	 float:left;
}
.isi{
	width:300px;
	height:40px;
	border-radius:3px;
	border:2px solid gray;
	
}
.lm{
	width:1200px;
	height:150px;
}
.btnordr{
	width:300px;
	height:60px;
	background-color:#006495;
	margin-left:60px;
	margin-top:10px;
}
.btnordr:hover{
	background-color:#0093d1;
}
.lisan{
	color:#fff;
	font-size:20px;
	font-family:"News701 BT";
}